.sidebar-logo {
  width: 50% !important;
  height: auto !important;
  max-width: 150px; /* Ajusta según tus necesidades */
  display: block !important;
  margin: 0 auto !important;
  order: 2 !important;
  border-radius: 8px !important;
}

h1 {
  font-size: 20px !important;
}

h2 {
  font-size: 16px !important;
}

/* Estilo general de callouts */
.callout-note .callout-body {
  background-color: white;
}

.callout-note.verde .callout-header {
  background-color: rgba(154, 205, 50, 0.3); /* Verde suave */
  border-left: 6px solid rgba(154, 205, 50, 1);
}
.callout-note.verdeoscuro .callout-header {
  background-color: rgba(34, 139, 34, 0.3);
  border-left: 6px solid rgba(34, 139, 34, 1);
}

.callout-note.amarillo .callout-header {
  background-color: rgba(255, 207, 9, 0.3);
  border-left: 6px solid rgba(255, 207, 9, 1);
}

.callout-note.rojo .callout-header {
  background-color: rgba(255, 99, 71, 0.3);
  border-left: 6px solid rgba(255, 99, 71, 1);
}


.custom-audio-player {
  display: flex;
  align-items: center;
}

#playButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333; /* Color del icono */
  /* Usa un icono de una libraría como Font Awesome si lo prefieres */
}

/* Ocultar los controles nativos si usas tu propio diseño */
#myAudio {
  display: none;
}